/*COLORS*/
$primary: #eb2f64;
$primary-light: #fe0044;
$primary-dark: #5b0122;

$gray-light-1: #faf9f9;
$gray-light-2: #f4f2f2;
$gray-light-3: #f0eeee;
$gray-light-4: #ccc;

$gray-dark-1: #333;
$gray-dark-2: #777;
$gray-dark-3: #999;

$bp-largest: 75em; //1200px / 16
$bp-large: 68.75em; //1100px / 16
$bp-medium:56.25em; //900 / 16
$bp-small: 40.625em; //650 / 16
$bp-xsmall: 40em; //640 / 16
$bp-xxsmall: 36.875em; //590 / 16

